@media (max-width:1170px) {

  #gutter-1 {

    left: 0px !important;
    margin-left: auto !important;
  }

  #gutter-2 {
    right: 0px !important;
    margin-right: auto !important;
  }
}

#gutter-1 {
  left: 50%;
  margin-left: -575px;
  top: 0px;
  z-index: -1;
  position: absolute;
  width: 500px;
  background-repeat: no-repeat;
  height: 600px;
}

#gutter-2 {
  right: 50%;
  margin-right: -575px;
  top: 0px;
  width: 499px;
  position: absolute;
  z-index: -2;
  height: 610px;
  background-repeat: no-repeat;
}

body {
    background-color: #121212;
}

#video-display {
    background-color: #000;
}

#video-source {
    color: #333333;
}

#video-title {
    color: #AAA;
}

#video-title a {
    color: #AAA;
}

#video-list {
/*    border: 2px solid #333333;*/
    background-color: black;
}

#video-list img {
/*    border: 4px solid #333333;*/
}

#video-list .focus {
    border: 6px solid #5f99cf;
}

#channel-list li, #promo-channel li {
    color: #fff;
    font-weight: bold;
    background: rgba(255,255,255 -.2);
}

#channel-list li:hover, #promo-channel li:hover {
    background-color: #e0e0e0;
    background-color: rgba(256,256,256,0.2);
    color: white;
}

#about {
    border-top: 1px dashed #333;
    color: #666;
}

#header {
    color: gray;
}

#footer {
    color: #333;
}

#also-like {
    background: #222;
    border: 1px solid #333;
    color: #444;
}

#vote-button {
    color: #5f99cf;
}

#channel-list .chan-selected, #promo-channel .chan-selected {
    color: #fff;
    background-color: #000 !important;
    border-top: 1px solid #393939;
    border-bottom: 1px solid #393939;
}

#channel-name {
    background: #444;
    border-color: #555;
    color: gray;
}

#channel-add {
    background-color: #444;
    color: gray;
    border-color: #666;
}

#fill-nav {
    background-color: white;
}

.nav-button {

    color: #fff;
}

a.nav-button:hover {
    border: 1px solid gray;
    color: darkblue;
}

.loading {
    background-image: url('../img/loading_spinner.gif');
    background-size: 20px;
}
