@media (max-width:1170px) {

  #gutter-1 {

    left: 0px !important;
    margin-left: auto !important;
  }

  #gutter-2 {
    right: 0px !important;
    margin-right: auto !important;
  }
}

#gutter-1 {
  left: 50%;
  margin-left: -575px;
  top: 0px;
  z-index: -1;
  position: absolute;
  width: 500px;
  background-repeat: no-repeat;
  height: 600px;
}

#gutter-2 {
  right: 50%;
  margin-right: -575px;
  top: 0px;
  width: 499px;
  position: absolute;
  z-index: -2;
  height: 610px;
  background-repeat: no-repeat;
}

body {

    min-width: 1170px;
    background-color: #fff;
}

#video-display {
    background-color: #F9F9F9;
}

#video-source {
    color: #5f99cf;
}

#video-title {
    color: #5f99cf;
}

#video-title a {
    color: #5f99cf;
}

#video-list {
    border: 2px solid lightgray;
    background-color: #A2AEBA;
}

#video-list img {
    border: 4px solid lightgray;
}

#video-list .focus {
    border: 6px solid #5f99cf;
}

#channel-list li, #promo-channel li {
    color: #000;
    font-weight: bold;
    background: rgba(255,255,255, 0.2);
}

#channel-list li:hover, #promo-channel li:hover {
    background-color: #e0e0e0;
    background-color: rgba(0,0,0,0.1);
    color: white;
}

#about {
    border-top: 1px dashed lightgray;
    color: gray;
}

#header {
    color: gray;
}

#footer {
    color: lightgray;
}

#also-like {
    background: #eee;
    border: 1px solid lightblue;
    color: #444;
}

#vote-button {
    color: #5f99cf;
}

#channel-list .chan-selected, #promo-channel .chan-selected, .chan-selected li:hover {
    color: #000;
    background-color: rgb(249, 249, 249) !important;
}

#channel-name {
    background: #EFEFFF;
    color: gray;
    border-color: #DDD}

#channel-add {
    background: #EFEFFF;
    color: gray;
    border-color: #DDD;
}

#fill-nav {
    background-color: white;
}

.nav-button {
    -moz-box-shadow: 1px 1px 1px black, inset 1px 1px 1px white;
    -webkit-box-shadow: 1px 1px 1px black, inset 1px 1px 1px white;
    box-shadow: 1px 1px 1px black, inset 1px 1px 1px white;
    text-shadow: 0px 1px 1px hsla(0,0%,100%,.7);
    color: black;
    background-color: #191F27;
}

a.nav-button:hover {
    border: 1px solid gray;
    color: darkblue;
}

.loading {
    background-image: url('../img/loading_light.gif');
}
